.empty-cell {
  width: calc(var(--cell-min-dimensions) * 0.9);
  height: calc(var(--cell-min-dimensions) * 0.9);
  z-index: 10;

  align-self: center;
  justify-self: center;

  border: 0.2rem solid var(--accent-color);
  border-radius: 0.8rem;

  opacity: 0.4;

  &:hover {
    cursor: pointer;

    border-color: white;
    opacity: 0.8;
    transition: border-color 0.2s ease;
    transition: opacity 0.2s ease;
  }
}

.empty-cell::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--accent-color);
  font-size: 150%;
}

.empty-cell:hover::before {
  color: white;
  transition: color 0.2s ease;
}
