#gridArea {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: scroll;

  height: 100%;
  width: 100%;

  background-color: var(--grid-background-color);
}

#grid {
  aspect-ratio: 1 / 1;

  min-width: var(--grid-max-dimensions);
  min-height: var(--grid-max-dimensions);

  max-width: var(--grid-max-dimensions);
  max-height: var(--grid-max-dimensions);
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: var(--background-color);
}
