:root {
  --context-menu-left-offset: 0.5rem;
  --page-primary-color: rgb(25, 26, 27);
  --page-secondary-color: rgb(254, 250, 252);
  --page-accent-color: rgb(248, 160, 160);
  --cell-min-dimensions: 100%;
  --grid-max-dimensions: 52rem;
}

* {
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
}

*::before,
*::after {
  position: absolute;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  overflow: scroll;
}
