:root {
  --context-menu-left-offset: 0.5rem;
}

* {
  box-sizing: border-box;
  position: relative;
}

*::before,
*::after {
  position: absolute;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

#grid-context-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  flex-direction: column;

  color: white;
  background-color: black;

  padding: 0.5rem;
  padding-right: 2rem;

  border: 1px solid #cccccc7a;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.25);
}

#grid-context-menu p {
  margin: 0;
  padding: 0;
  font-size: small;
  padding-left: var(--context-menu-left-offset);
  margin-bottom: 0.5rem;
  color: white;
  opacity: 0.5;
}

#grid-context-menu.visible {
  display: flex;
}

#grid-context-menu .context-item {
  padding: var(--context-menu-left-offset);
  cursor: pointer;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.171);
}

#grid-context-menu .context-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#context-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  flex-direction: column;

  color: white;
  background-color: black;

  padding: 0.5rem;
  padding-right: 2rem;

  border: 1px solid #cccccc7a;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.25);
}

#context-menu p {
  margin: 0;
  padding: 0;
  font-size: small;
  padding-left: var(--context-menu-left-offset);
  margin-bottom: 0.5rem;
  color: white;
  opacity: 0.5;
}

#context-menu input[type="color"] {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 10%;
}

#context-menu.visible {
  display: flex;
}

#context-menu .context-item {
  padding: var(--context-menu-left-offset);
  cursor: pointer;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.171);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#context-menu .context-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#context-menu .context-item:last-child {
  border-bottom: none;
  opacity: 0.5;
}

#gridArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;

  width: 42rem;
  height: 42rem;

  background-color: black;
}

.cell {
  border-radius: 1rem;
  position: relative;

  background-color: rgb(255, 187, 187);
}

.cell:active {
  opacity: 0.8;
  /* transform: scale(1.1); */

  transition: opacity 0.2s ease;
  /* transition: transform 0.2s ease; */
}

.cell:hover {
  cursor: grab;
}

.resize-area {
  width: 2rem;
  height: 2rem;

  border-bottom: 0.5rem solid white;
  border-right: 0.5rem solid white;

  border-bottom-right-radius: inherit;

  opacity: 0;
}

.cell:hover .resize-area {
  opacity: 1;
  cursor: se-resize;

  transition: opacity 0.2s ease;
}

.cell > button {
  opacity: 0;
  position: absolute;

  top: 0;
  right: 0;

  border: none;
  border-radius: 0.25rem;

  background-color: white;
  color: black;
}

.cell > button:hover {
  background-color: rgb(255, 77, 77);
  color: white;

  cursor: pointer;
}

.empty-cell {
  width: 90%;
  height: 90%;

  align-self: center;
  justify-self: center;

  border: 0.25rem solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;

  z-index: 10;

  background-color: none;
}

.empty-cell::before {
  content: "+";
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
}

.empty-cell:hover {
  cursor: pointer;

  border-color: white;

  transition: border-color 0.2s ease;
}

.empty-cell:hover::before {
  color: white;
  transition: color 0.2s ease;
}
